In [4]:
import pandas as pd
data = pd.read_csv("w4 data.csv")

In [5]:
data

   背號 球員姓名       球員學號
0   4  陳思岑  41071110h
1   7  林鈺茹  41071109h
2  20  何巧軒  40971113h
3  19   陳葳  40971108h
4  22  王莉淇  40971222h
5  24  徐婷慧  61171015h
6  15  林美雯  61071018h
7  21  李心于  41171209h
8  23  詹喬崴  41171233h
9  24  何舒葦  41171217h